@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --theme: rgb(49, 125, 207);
  --background: rgb(255, 255, 255);
  --font: rgb(0,0,0);
  --font-hover: rgb(92, 92, 92);
}

body {
  margin: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

/* Navbar */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.navbar label{
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--theme);
}

.navbar .nav-link a{
  margin-right: 30px;
  font-weight: 900;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--font);
}

.navbar .nav-link a:hover{
  color: var(--font-hover);
  cursor: pointer;
}



/* home */
.home{
  /* background-color: red; */
  display: flex;
  padding: 0px 0px;
  align-items: center;
  
}

.home .home-background{
  /* background-color: red; */
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.dev-animation{
  height: auto;
  width: 600px;
}

.home .home-text{
  
  width: 600px;
}

#top-text{
  font-family: 'Raleway';
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0;
}

#bottom-text{
  font-family: 'Raleway';
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
}



/* projects */
.projects{
  /* background-color: red; */
  height: 500px;
  font-family: 'Inter';
  margin-top: 40px;
  
}

.project-container{
  width: 80vw;
  margin: auto;
  /* background-color: aqua; */
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid rgba(59, 59, 59, 0.12);
}

.project-text{
  display: flex;
  align-items:center;
  /* background-color: aqua; */
}

.project-left{
  flex: 1 1 0px;
}

.project-left h1{
  font-size: 56px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
  font-stretch: expanded;
  display: flex;
  align-items: center;
}

.orange{
  color: rgb(240,127,20);
}

.blue{
  color: rgb(14, 109, 209);
}
.light-blue{
  color: rgb(85,178,248);
}
.green{
  color: rgb(95,187,128);
}

.yellow{
  color: rgb(215, 212, 23);
}

.dark-blue{
  color: rgb(35,47,71);
}

.red{
  color: rgb(246, 67, 67);
}

.purple{
  color: rgb(109,86,255);
}

.project-left h1 .circle{
  font-size: 30px;
  margin-right: 20px;
  position: absolute;
  left: 6%;
}

.project-left label{
  font-size: 16px;
  font-weight: 400;
  color: grey;
  
  
}

.tech-stack{
  /* background-color: red;
  height: 50px; */
  /* width: 50%; */
  margin-top: 10px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.422);
  opacity: 0.5;
  display: flex;
}

.project-left .tech-stack svg{
  margin-right: 10px;
}




.project-right{
  flex: 1 1 0px;
}

.project-right p{
  font-size: 24px;
}

.project-right a{
  text-decoration: none;
  color: var(--font);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.project-right a:hover{
  color: grey;
}

.project-right a .right-arrow{
  font-size: 40px;
  margin-left: 10px;

}

.project-image{
  width: 100%;
  height: auto;
  /* background-color: red; */
  margin: 0;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {

  .navbar{
    padding: 10px 10px;
  }
  .navbar .nav-link a {
    margin-right: 10px;
  }

  .home{
    flex-direction: column-reverse;
    padding-top: 40px;
  }

  .home .home-text{
    width: 80%;
    font-size: 50px;
    margin: auto;
  }

  #top-text{
    font-size: 3rem;
  }

  #bottom-text{
    font-size: 1.5rem;
  }

  .dev-animation{
    width: 350px;
  }

  .project-container{
    /* background-color: red; */
  }
  .project-text{
    flex-direction: column;
    text-align: center;
    justify-content: left;
  }
  .tech-stack{
    text-align: center;
    /* background-color: red; */
    justify-content: center;
  }

  .project-left h1{
    justify-content: center;
    font-size: 40px;
  }

  .project-right a{
    justify-content: center;
  }

  .project-right p{
    font-size: 16px;
  }

  .circle{
    display: none;
  }
}

/* small projects */
.small-projects{
  /* background-color: rgba(0, 0, 255, 0.43); */
  display: flex;
  padding-bottom: 70px;
  padding-top: 80px;
  border-top: 1px solid rgba(96, 96, 96, 0.343);
  width: 80vw;
  margin: auto;
}
.sp-container{
  /* background-color: red; */
  max-width: 350px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  font-family: 'Inter';
}

.sp-container .sp-image{
  width: 100%;
}

.sp-container .title{
  font-size: 36px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
    font-stretch: expanded;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp-container .tech-stack{
  justify-content: center;
  margin-top: 20px;
}

.sp-container .sp-description{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.sp-container a{
  text-decoration: none;
    color: var(--font);
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sp-container a .right-arrow{
  font-size: 30px;
  margin-left: 10px;
}

.sp-container a:hover{
  color: rgb(86, 86, 86);
}


@media screen and (max-width: 800px){
  .sp-container{
    width: 250px;
  }
  .sp-container .sp-image{
    width: 80%;
  }
  .sp-container .title{
    font-size: 20px;
    margin-bottom: 0;
  }
  .sp-container .tech-stack svg{
    font-size: 25px;
    margin-top: 0px;
  }
  .sp-container a{
    font-size: 12px;
    margin-top: 10px;
  }
  .sp-container a .right-arrow{
    font-size: 20px;
  }
}


/* footer */
.footer{
  margin: auto;
  width: 80vw;
  /* background-color: red; */
  border-top: 1px solid rgba(0, 0, 0, 0.156);
  padding-bottom: 20px;
}

.footer h1{
  font-size: 56px;
  margin-bottom: 10px;
}

.footer .contact a{
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
  text-decoration: none;
  color: var(--font);
  
}

.footer h1 .circle{
  font-size: 30px;
  margin-right: 20px;
  margin-top: 16px;
  position: absolute;
  left: 6%;
  /* top: 1px; */
}